<%- layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Campgound</h1>
        <div class="col-md-6 offset-md-3">
            <!-- eidt request: put or patch for express-->
            <!-- since we use _method as our override-->
            <form action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST" novalidate class="validation-form" enctype="multipart/form-data">
                <!--  value is the starting value-->
                <div class="mb-3">
                    <label class="form-label" for='title'>Title</label>
                    <input class="form-control" type='text' id='title' name="campground[title]" value="<%= campground.title %>" required>
                    <div class="valid-feedback">
                        Looks food!
                    </div>
                </div>
                <div class="mb-3">
                    <labal class="form-label" for='location'>Location</labal>
                    <input class="form-control" type='text' id='location' name="campground[location]" value="<%= campground.location %>" required>
                    <div class="valid-feedback">
                        Looks food!
                    </div>
                </div>


                
                
                

                <div class="mb-3">
                    <labal class="form-label" for='price'>Campground Price</labal>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="Price" aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>" required>
                        <div class="valid-feedback">
                            Looks food!
                        </div>
                    </div>                    
                </div>
                <div class="mb-3">
                    <labal class="form-label" for='description'>Description</labal>
                    <textarea class="form-control" type='text' id='description' name="campground[description]" required><%= campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks food!
                    </div>
                </div>
                <!-- <div class="mb-3">
                    <labal class="form-label" for='image'>Add Image</labal>
                    <input type="file" name="image" id="image" multiple>
                </div> -->
                <div class="custom-file mb-3 ">
                    <label for="formFileMultiple" class="form-label">Add Images</label>
                    <input class="form-control" type="file" name="image" id="formFileMultiple" multiple>
                </div>
                <div class="mb-3"> 
                    <% campground.images.forEach(function(img, i) { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%= img.filename %>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                    <% }) %> 
                </div>
                <div class="mb-3">
                <button classs="btn btn-success">Edit Campground</button>
                </div>
            </form>    
            <a href="/campgrounds">All Campgrounds</a>
        </div>
</div>


